{% extends 'recognitionpost/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1>Загрузите ваш файл</h1>
    <div id="loading" style="display: none;"></div>
    <form enctype="multipart/form-data" method="post"  class="post-form">{% csrf_token %}
    	<p>{% render_field form.files %}</p>
        <button type="submit" class="but" onclick="loading();">Обработать</button>
    </form>

    <script type="text/javascript">
	function loading() {
            document.getElementById("loading").style.display = "block";
            document.getElementsByClassName("post-form")[0].style.display = "none";
        }
    </script>

{% endblock %}
