{% extends 'recognitionpost/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <audio controls preload="auto">
        <source src="{{ post.files.url }}" type="audio/mpeg">
        </audio>
        <h1>Текст</h1>
        {{ text }}
        <h1>Слова-паразиты</h1>
        {{ parasites }} <br>
        <h1>Тайминг слов-паразитов</h1>
        {{ parasites_word_timestamps }} 
        <h1>Обсессивная лексика</h1>  
        Количество слов {{ bad_words_counter }} <br>         
        <h1>Тайминг обсессивной лексики</h1>
        {{ bad_words_timestamps }} 
    </div>
{% endblock %}
