{% extends 'recognitionpost/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">Распознавание речи</a></h1>
            <div class="date">
            {{ post.published_date }}
            </div>
            <p>{{ post.files }}</p>
        </div>
    {% endfor %}
{% endblock %}
