h1 a {
    color: #FFFAFA;
    font-family: 'Helvetica';
}

body {
    padding-left: 0px;
}
.page-header {
    background-color: #731982;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFAFA;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Helvetica', cursive;
}

.date {
    color: #808080;
}



.post-form textarea, .post-form input {
    width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.glyphicon {
    color: #FFFAFA;
    padding: 28px 50px 20px 20px;


}


.but {
  text-decoration: none;
  outline: none;
  padding: 12px 40px;
  margin: 10px 10px;
  border-radius: 30px;
  background-image: linear-gradient(80deg, #00b956 0%, #731982 80%, #731982 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Helvetica';
  font-size: 20px;
  font-weight: 300;
  color: #FFFAFA;
  transition: .5s;
}
.but:hover {
  background-position: 1 0;
}

#loading {
   background: url('spinner.gif') no-repeat center center;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 9999999;
}

